{% extends 'admin_layout.html' %} {% block title %}Profile{% endblock %} {% block content %}
<h2>Profile Page</h2>
<div>
    <p><b>Registered Account Details :</b></p>
    <!--<table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Access Key:</td>
            <td>{{ account['access'] }}</td>
        </tr>
        <tr>
            <td>Secret Key:</td>
            <td>{{ account['secret'] }}</td>
        </tr>
    </table>-->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <!-- <th scope="col">Sno</th> -->
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Access Key</th>
                <th scope="col">Secret Key</th>
            </tr>
        </thead>
        <tbody>
            {% for i in account %}
            <tr>
                <th scope="row">{{i[0]}}</th>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}